#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}
.btn {
  padding: 10px 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.score-div {
  background-color: green;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  color: white;
  text-align: center;
}
#score {
  padding: 5px;
}

.header-container {
  width: 94%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 70% 15%;
  grid-column-gap: 13%;
}
.buttons {
  display: grid;
  grid-template-rows: 80%;
  grid-template-columns: 18% 24%;
  grid-column-gap: 34%;
}
#cards {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border-color: rgb(34, 212, 228);
}
#cards:focus {
  outline: none;
}
